# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: beta-xcode6.1

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "nh5l+SguFcoHyKbbAe3zKqS6PjjUuUZJdDlxzcOsNIcmtW1kajkWirLq+kinu24UdCjeOphtIhkNc1odrItYWF8obgNsR0anNWJ63EP5sTOLS6w/31f+xBz59em2J2twHaIZmcL7bGy4PCwKsHozJF4dA/cn/P7SjYLbBXR4JDIdKdEYAFB7CbolFEEVTn6qX494X5JmTxoIr1e+mRM9zWyD/4DvT+r9oVGe7ZB5LDfSd3aoRqT5DPVcyg6y6ZREBuIch5XB5fsFLgIKFLKWEncD6nCJNsPA1igRGCTHuGo13ec+hMnAoRFEIwwsXFtAFSSvWjCte1wnCvLykx3j5B7/QI+v35secrmuNlQAcgCel7Gb+j4zxOCjo3FBsDY02Qf4LchKxWjmAHFEAu13KD9fo03e7gpEeT9Mz4o9hcLDs7xGwJX0kEbrSpkizezFBkej0Ts4TFfx4W2GQpvQOtEda5PLLNWaFluKNfih+mdRF827KIZUNqOk4APfXF/6eH4J93nKx2mCphoEE2OzCriWsVm65vrDtPrFaj0FkoONsm8w6Kv4a/n3gPJuUnAZsLsOSJSssehVISRs+N1RNXjkyvmlemyhR6RJQNlZ4MLGlPgERnRiMD+2ttq4k6m4DMsK1j81y83XAkhe/DWG/GiCQ+1zXp7TGWb8Md/yXuw="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
